# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

#log files
*.log


#bak files
~*
*.bak
*~

#temp files
*.tmp

*.xmp

/src/public
node_modules
coverage

# Lighthouse reports
*.report.json
*.report.html
desktop.jpg
mobile.jpg

# Hugo stats
hugo_stats.json

# Hugo generated resources
/src/resources/_gen

# UIkit files
/src/assets/uikit.*
